.signUp {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  gap: 45px;
}

.boldText {
  font-size: 24px;
  font-weight: bold;
}

.input {
  width: 18vw;
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  justify-content: right;
}
