.main {
  width: 100vw;
  height: 500px;
  background-color: gray;
}

.carousel {
  width: 100vw;
  height: 500px;
}

.cardList {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.cardListWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
