.profile {
  flex: 3;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.userName {
  flex: 1;
}

.profileImgChangeBtn {
  flex: 1;
}
