.summaryContentTop {
  align-items: center;
  display: flex;
  flex: 2;
}

.summaryContentDown {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 3;

  button {
    border: none;
    background-color: white;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
  }
}

.summaryContentLeft {
  flex: 2;
}

.summaryContentRight {
  flex: 5;
  display: flex;
  justify-content: right;
  font-size: 14px;
  font-weight: 400;
}
