.content {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;

  .userName {
    width: 150px;
    padding-left: 10px;
  }

  .file {
    flex: 1;
    display: flex;
    align-items: center;

    audio {
      width: 500px;
      height: 40px;
    }
  }

  .choiceBtn {
    padding-right: 10px;
  }
}
