.main {
  padding: 20px 50px 0 50px;
  display: flex;
  width: calc(100% - 100px);
}

.infoMenuBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 50px;
  margin-right: 50px;
  align-items: center;
}

.contentBox {
  display: flex;
  flex-direction: column;
  flex: 1;

  .summary {
    width: auto;
    height: 200px;
  }
}

.userInfo {
  width: 150px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBar {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.search {
  margin: 40px 0;
}

.workList {
  width: auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menuBarTitle {
  border-bottom: 3px solid black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.menuBarContent {
  margin: 30px 0 0 20px;
  display: flex;
  width: 200px;
  height: 300px;
  flex-direction: column;
}

.menuBarContentFont {
  font-size: 13px;
  font-weight: 500;
}

.sort {
  width: 700px;
  display: flex;
  justify-content: left;
}

.sortBtn {
  display: flex;
  gap: 10px;
}
