.workListBox {
  flex: none;
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #ced4da;
  background-color: rgba(232, 245, 255, 0.5);
  cursor: pointer;

  .imgWrapper {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 180px;
      height: 180px;
    }
  }

  .info {
    flex: 1;
    height: 180px;
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      height: 30px;
      border-radius: 5px;

      h3 {
        font-size: 23px;
      }

      .date {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }

    .content {
      overflow-y: scroll;
      flex: 1;
      border-radius: 5px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
