.header {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 25vh;
  justify-content: center;
  z-index: 30;
  background-color: white;
  border-bottom: 1px solid skyblue;
}

.headerImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 2;
}

.headerLogin {
  display: flex;
  height: 30px;
  justify-content: right;
  gap: 10px;
  flex: 1;
}

.loginBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.signBtn {
  display: flex;
  gap: 10px;
}
