.signUpOutline {
  position: absolute;
  top: 30vh;
  left: 34vw;
  width: 30vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signUp {
  margin-top: 5vh;
  padding-top: 8vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  width: 30vw;
  height: 56vh;
  border: 1px solid;
  border-radius: 10px;
}

.signUpText {
  font-size: 24px;
  font-weight: bold;
}

.idInput {
  width: 18vw;
  display: flex;
  justify-content: space-between;
}

.pwInput {
  width: 18vw;
  display: flex;
  justify-content: space-between;
}
