// .throwWork {
//   display: flex;
//   flex-direction: column;

//   .imgPreviewContainer {
//     width: 160px;
//     height: 170px;
//     object-fit: contain;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     .imgPreview {
//       height: 160px;
//       object-fit: contain;
//       border-radius: 5px;

//       cursor: pointer;
//     }

//     .contents {
//       flex: 1;
//     }

//     .title {
//     }
//   }
// }

.throwWork {
  height: 400px;
  display: flex;

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .imgPreviewContainer {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgPreview {
        width: 150px;
        height: 150px;
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }

    .script {
      height: 100px;
      display: flex;
      flex-direction: column;
      border: 1px solid #ced4da;
      overflow-y: scroll;

      border-radius: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
