// .throwWork {
//   display: flex;
//   flex-direction: column;

//   .imgPreviewContainer {
//     width: 160px;
//     height: 170px;
//     object-fit: contain;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     .imgPreview {
//       height: 160px;
//       object-fit: contain;
//       border-radius: 5px;

//       cursor: pointer;
//     }

//     .contents {
//       flex: 1;
//     }

//     .title {
//     }
//   }
// }

.throwWork {
  height: 400px;
  display: flex;

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .imgPreviewContainer {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgPreview {
        width: 150px;
        height: 150px;
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }

    .script {
      width: 175px;
      height: 100px;
      display: flex;
      flex-direction: column;
      border: 1px solid #ced4da;
      overflow-y: scroll;
      overflow-x: hidden;

      border-radius: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .dateBox {
      margin-left: 25px;
      width: 400px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1;

      .dateForm {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding-left: 5px;
      }
    }
  }

  .infoBox {
    flex: 1;

    .title {
      height: 70px;
      display: flex;
      align-items: center;

      .inputTitle {
        border-radius: 5px;
        border: 1px solid #ced4da;
        width: 550px;
        height: 40px;
        padding-left: 10px;
      }
    }

    .text {
      height: 100px;
      margin-bottom: 10px;
      textarea {
        transition: height 0.2s ease-out;
        height: 100px;
        overflow-y: scroll;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding-left: 10px;
        position: relative;
        &::-webkit-scrollbar {
          display: none;
        }

        &:focus {
          height: 300px;
          z-index: 2;
        }
      }
    }

    .radioBox {
      width: 550px;
      height: 150px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .boxForm {
        display: flex;
        flex: 1;
        height: 30px;
        border-bottom: 1px solid #ced4da;

        .optionTitle {
          width: 100px;
          display: flex;
          margin-bottom: 0;
          padding: 0 15px;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #ced4da;
          font-weight: bold;
        }

        .contentForm {
          display: flex;
          justify-content: space-around;
          width: 450px;

          label {
            display: flex;

            input {
              margin-right: 10px;
            }

            p {
              margin-bottom: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .inputText {
          width: 445px;
          height: 40px;
          border: none;
          padding-left: 15px;
        }
      }
    }

    .submitBox {
      width: 550px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: right;
      margin: 20px 0;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
