@mixin input-layer() {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding-left: 10px;
}

.searchBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.startDate,
.endDate {
  @include input-layer();
  width: 150px;
}

.input {
  @include input-layer();
}

.commitBtn {
  button {
    height: 40px;
  }
}
